<header class="navbar">
  <div class="logo">
    <a href="/">Portfolio</a>
  </div>

  <!-- Hamburger -->
  <div class="menu-toggle" id="menu-toggle">
    ☰
  </div>

  <nav id="nav-menu">
    <a href="/">Home</a>
    <a href="/content-writing/">Content Writing</a>
    <a href="/copywriting/">Copywriting</a>
    <a href="/social-media-strategy/">Social Media Strategy</a>
    <a href="#contact">Contact</a>
  </nav>

  <div class="socials">
    <a href="https://www.linkedin.com/in/nibir-biswas/" target="_blank" aria-label="LinkedIn">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="mailto:biswasnibir618@gmail.com" target="_blank" aria-label="Email">
      <i class="far fa-envelope"></i>
    </a>
    <a href="https://wa.me/8801890820095"
    target="_blank"
    aria-label="WhatsApp">
    <i class="fab fa-whatsapp"></i>
    </a>
 
  </div>
</header>
